body {
  text-align: center;
  background: #1e1e2f;
  color: white;
  font-family: "Edu NSW ACT Cursive", cursive;
}

/* contador */
#contador {
  font-size: 2em;
  margin: 20px;
}

/* botón */
.boton_menu {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #0984e3;
  color: white;
}

/* 🔒 BLOQUEADO REAL */
.bloqueado {
  pointer-events: none;
  opacity: 0.5;
}

.bloqueado button {
  background: gray;
  cursor: not-allowed;
}

/* 🔓 ACTIVO */
.activo button {
  background: #00b894;
  cursor: pointer;
}
#mensajeSecreto {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  color: #00ffe0;
  padding: 15px 25px;
  border-radius: 15px;
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0 0 15px #00ffe0;
}

#mensajeSecreto.mostrar {
  bottom: 30px;
  opacity: 1;
}
#mensajeSecreto {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  color: #00ffe0;
  padding: 15px 25px;
  border-radius: 15px;
  opacity: 0;
  transition: 0.5s;
  box-shadow: 0 0 15px #00ffe0;
}

#mensajeSecreto.mostrar {
  bottom: 30px;
  opacity: 1;
}
.frase,
.misterio {
  color: white;
  margin-top: 15px;
  font-size: 18px;
  opacity: 0.85;
  text-align: center;
}
#randomMsg{
  margin-top:15px;
  color:#00ffcc;
  font-style:italic;
  opacity:0.8;
}
.contenedor{
  border:2px solid #00ffcc;
  box-shadow:
  0 0 10px #00ffcc,
  0 0 20px #00ffcc;
}